{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/game_user1.css' %}">
</head>
<body>
  <div class="usernames">
    <H2 class="first-player">{{ game.player1.user }}</H2>
    <H2 class="second-player">
      {% if game.player2 == None %}
        Waiting for the enemy
      {% else %}
        {{ game.player2.user }}
      {% endif %}

    </H2>
  </div>
  <div id="battlefield1">
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
    <div class="cell1"></div>
  </div>
  <div id="battlefield2">
    <div class="cell2" type="button"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
    <div class="cell2"></div>
  </div>
  <br>
  <a href="{% url 'battle:surrender' %}"><h2>Surrender</h2></a>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static 'js/csrf_protection.js' %}" type="module"></script>
  <script src="{% static 'js/game_user1.js' %}"></script>
</html>